.addTravelerSection {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--whiteClr);
  position: relative;
}

.addTravelerTitle {
  margin: 0;
  padding: 0;
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: center;
}

.addTravelerCont {
  width: max-content;
  margin-right: auto;
}

.addTravelerBack {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: greenyellow;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px 10px;

  .addTravelerIcon {
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
    margin-right: 10px;
    transition: all 0.5s ease-out;
  }

  &:hover {
    transform: scale(0.96);
    background-color: white;
    color: var(--mainClr);
    border-color: var(--mainClr);

    .addTravelerIcon {
      color: var(--mainClr);
    }
  }
}

.form {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: var(--mainClr);
    color: white;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease-out;

    &:hover {
      color: var(--mainClr);
      background-color: white;
      border-color: var(--mainClr);
    }
  }
}

.groupField {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formField {
  width: 45%;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    font-weight: bold;
    width: 200px;
  }

  input {
    width: 100%;
    height: 2rem;
    margin-bottom: 0;
    padding: 0 1rem;

    outline: none;
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;

    &::placeholder {
      color: rgba(200, 200, 200, 0.9);
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid rgba(200, 200, 200, 0.3);
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--mainClr);
    }
  }
}

.error {
  margin: 0;
  color: red;
  font-size: 12px;
}
